h1{
    background-color: blue;
}
p{
    background-color: chocolate;
}

p.first{
    color:darkslateblue;

}
p.second{
    color: darkviolet;
}
p#web{
    color:goldenrod;
}

*{
    text-align: center;
}


div>h2{
    text-align: right;
}
div~p{
    text-align: left;
}
div.learn ~h5{
    color:lightcoral;
}
div + p {
color: lightcoral;
}